# .gitignore

# Python / Backend
venv/
__pycache__/
*.pyc
.env
*.db
backend/*.db
.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# User / Personal Data Directories
dataset/karthi/
dataset/praisy/
karthi/
praisy/

# OS & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Temp files
page_0.png
*.tmp
result.json
